<div>
  <p>I'm reaching out regarding {{ purpose|lower }} and would appreciate your attention to this matter.</p>

  <p>Hello, {{ message }}</p>
  
  <p>{{ sender_name }} - <a href="{{ profile_url }}">View profile.</a></p>
  </hr>
  <p><i>You can reply directly to this email, and your email address will be shared with {{ sender_name }}</i></p>
  <p><b>Message Settings:</b></p>
  <ul>
    <li><a href="{{ preferences_link }}">Update email preferences</a></li>
    <li>Report abuse</li>
  </ul>
</div>
