<form{{ attributes }} class="global_search_box">
  <div class="input-group col-md-2">
    {{form.global_search_text}}
    {{form.form_build_id}}
    {{form.form_id}}
    {{form.form_token}}
    <button class="global_search_box_btn" type="submit">
      <i class="bi bi-search"></i>
    </button>
  </div>
</form>
