{#
/**
 * @file
 * Theme override to display a view of unformatted rows.
 *
 * Available variables:
 * - title: The title of this group of rows. May be empty.
 * - rows: A list of the view's row items.
 *   - attributes: The row's HTML attributes.
 *   - content: The row's content.
 * - view: The view object.
 * - default_row_class: A flag indicating whether default classes should be
 *   used on rows.
 *
 * @see template_preprocess_views_view_unformatted()
 */
#}
{% if title %}
  <h3>{{ title }}</h3>
{% endif %}
{% for row in rows %}
  {% set url = '' %}
  {% if row.url is not empty %}
    {% set url = row.url %}
  {% endif %}
  <div class="views-row">
    {% if row.has_image %}
    <div class="views-field views-field-field-image">
      <div class="field-content">
        <a href="{{ url }}">
          {{ row.image|raw }}
        </a>
      </div>
    </div>
      {% endif %}
    <div class="views-field views-field-title">
      <span class="field-content">
        {{ row.title }}
      </span>
    </div>
    <div class="views-field views-field-field-type-of-announcement">
      <span class="field-content">
          {{ row.type_of_announcement }}
      </span>
    </div>
    {% if url is not empty %}
      <a href="{{ url }}" class="link-overlay"></a>
    {% endif %}
  </div>
{% endfor %}
